@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Rajdhani:wght@600;700&display=swap');

body{
    font-family: 'Commissioner', sans-serif;
    background-color: rgb(8, 1, 20); 
    margin: 0 auto;
    color: white;
}

li{
    list-style: none;    
}

a{
    text-decoration: none;
    color: #333;
}

h1{
    margin: 0;
}



